html{
    background-image: url("https://preview.redd.it/does-anyone-know-if-there-is-a-gabumon-gif-like-this-one-v0-9e904pfzntwb1.gif?width=300&auto=webp&s=24ba65ecd9ef0db03c21176af57479396b0c7c38");
    background-position: right;
    background-repeat: repeat-y;
}